html{
  width: 100%;
  margin: 0;
  padding:0;
}
body{
  font-family: "News Cycle", sans-serif;
  background-color: #86CCCC;
}

h1, h2{
  font-family: din-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
}

a{
  color: #86CCCC;
}

a:hover{
  color: #212529;
  text-decoration: none;
}

a.icon-nav{
  color: #818285;
}

a.icon-nav:hover{
  color: #3FC4AA;
}

.landing{
  position: relative;
}

#landingVideo{
  display: block;
  position: relative;
  min-width: 100%;
  min-height: 100%;
}

.btn {
  position: absolute;
  top: 69%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 277px;
  height: 50px;
  font-size: 1.1em;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration:none;
  font-family: 'News Cycle';
  font-weight:900;
  letter-spacing: 0.045em;
  border: 2px solid #fff;
}

/* Email Sign-Up Modal */
/* Full-width input fields */
input[type=text], input[type=email] {
  width: 65%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #86CCCC;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.logo{
  width: 200px;
}

/* About */
.about{
  /* background-color: #B6E0E0; */
  background-image: linear-gradient(#B6E0E0, #E6F4F4);
  padding: 10%;
  display: inline-block;
}

.about-heading{
  font-size: 1.8em;
}

.about-para{
  padding-top: 10px;
}

.about-bee{
  width: 200px;
  transform: rotate(15deg);
}

.sponsor-section{
  display: block;
  text-align:center;
  background-color: #fff;
  padding: 20px;
}

.sponsor-section p{
  font-size: 1.3em;
}

.sponsor-logo{
  max-width: 200px;
}

#lab_social_icon_footer a {
  color: #333;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */

  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

.social-media{
  padding: 20px;
  background-image: linear-gradient(to bottom, #E6F4F4 , #86CCCC);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #landingVideo {
    display: none;
  }
  #c{
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .no-video{
    display: inline-block;
    position: absolute;
    margin: 0px;
    text-align: center;
  }
  .top-heading{
    top:45%;
  }
  .bottom-heading{
    top:55%;
  }
  div{
    padding-left: 0;
    padding-right: 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #landingVideo {
    display: none;
  }
  #c{
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .no-video{
    display: inline-block;
    position: absolute;
    margin: 0px;
    text-align: center;
  }
  .top-heading{
    top:45%;
  }
  .bottom-heading{
    top:55%;
  }
  div{
    padding-left: 0;
    padding-right: 0;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #landingVideo {
    display: none;
  }
  #c{
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .no-video{
    display: inline-block;
    position: absolute;
    margin: 0px;
    text-align: center;
  }
  .top-heading{
    top:45%;
  }
  .bottom-heading{
    top:55%;
  }
  div{
    padding-left: 0;
    padding-right: 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #landingVideo {
    display: inline-block;
  }
  #c{
    display: none;
  }
  .no-video{
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #landingVideo {
    display: inline-block;
  }
  #c{
    display: none;
  }
  .no-video{
    display: none;
  }
}
