html{
  font-family: 'News Cycle', sans-serif;
}

.custom-nav{
    background-color: #E6F4F4;
    color: #000;
}

#hh-logo{
  width: 300px;
}

.thesaas-sections-split .section {
  margin: 30px 50px 100px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  border: 1px solid #ebebeb;
}

.thesaas-sections-split .section-info {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 60px;
}

@media (max-width: 768px) {

  .thesaas-sections-split .section {
    margin: 30px 0 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

}

.p {
  font-size: 30px;
}

.primary-color{
  color: #926dde;
}
